<h2>Games</h2>
<% games.forEach((game) => { %>
<h4><a href="/games/<%= game.id %>">
      <img class="" src="<%= game.image %>" alt="<%= game.image %>">
        <%= game.title %>
      </a>
</h4>


  <% if (locals.isLoggedIn) { %>

      <% } %>
<% }) %>
