<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <h5 class="card-header"><strong>ALL USERS</strong></h5>
      <div class="card-body row">
        <ul>
          <% users.forEach((user) => { %>
            <li>
              <%= user.username %>
            </li>
            <% }); %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="row">
      <h2>Community Gamers</h2>
    </div>
    <div class="container flexCard">
      <% users.forEach((user) => { %>
        <div class="col-lg-4">
          <div class="card">
            <h5 class="card-header"><strong><%= user.username %></strong> </h5>
            <div class="card-body row">
              <h6 class="card-title">Collection: </h6>
              <ul>
                <% user.collectionLog.forEach((game) => { %>
                  <li>
                    <%= game.title %>
                  </li>
                  <% }); %>
              </ul>
            </div>
            <div class="underline"></div>
            <div class="card-body row">
              <h6 class="card-title">Wish List: </h6>
              <ul>
                <% user.wishList.forEach((game) => { %>
                  <li>
                    <%= game.title %>
                  </li>
                  <% }) %>
              </ul>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
  </div>
</div>
