// import scss partials here
@import "header";
@import "footer";
@import "bodytags";

.row {
  margin-left: 0;
  margin-right: 0;
}

.showContainer {
  margin-top: 10px;
}

.gameImage {
  max-height: 280px;
}

.commentContent {
  background-color: lightsteelblue;
  border-radius: 3px;
}

.leaveComment {
  margin-top: 10px;
}

.underline {
  background-color: darkorange;
  height: 1px;
  margin: 15px auto;
  width: 75%;
}

.card-header {
  align-items: center;
  background-color: lightsteelblue;
  display: flex;
  min-height: 30px;
  padding: 10px 15px;
  width: 100%;
}

.flexCard {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 20px;
}

.btn-blue {
  background-color: #337AB7;
  color: white;
  font-weight: bold;
  &:hover{
    background-color: #6292bc;
  }
}

.sideCard {
  position: fixed;
}


.commentBy{
  background-color: #337AB7;
  color: darkorange;
  padding-left: 5px;
  text-transform: uppercase;
}

.successFlash {
  background-color: #337AB7;
  font-weight: bold;
}

.dangerFlash {
  background-color: darkorange;
  font-weight: bold;
}

.dateIcon {
  color: darkorange;
}

.rulesIcon {
  color: #FFD166;
}

.winIcon {
  color:#06D6A0;
}

.notesIcon {
  color: #FF88DC;
}

.profileUpdate {
  display: flex;
    justify-content: center;
  margin: 15px auto;
}
